<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <title>Document</title>
</head>
<body>
    <div class="main-container">
        <form method="POST" action="/" class="votes-form">
            {{ form.hidden_tag() }}
            {{ form.vote.label }}
            {{ form.vote(class='input-select') }}
            <button type="submit" class="submit-button">Submit</button>
        </form>
        <br>
        <div class="results-container">
            <p>Cat: {{ cat }}</p>
            <p>Dog: {{ dog }}</p>
        </div>
    </div>
    
</body>
</html>